<html>
  <head></head>
  <body>
    <p>
      <%= message %>
    </p>
    <form method="post">
      <input type="text" name="guess" />
      <input type="submit" value="Guess!" />
    </form>
  </body>
</html>
